

<div class="container">
  <br><br>
  <h3> About App </h3>
  <br>
  <p> Practice purpose for rails. </p>
  <br>
  <%= link_to 'Home', root_path, class: "btn btn-xs btn-success" %>    <%= link_to 'Blog', articles_path, class: "btn btn-xs btn-primary" %>
</div>
