<!DOCTYPE html>

<div class="center jumbotron">
  <br><br><br><br>
  <h1> BLOG </h1>
  <%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-lg btn-xlarge" %>
  <%= link_to "Login", "#", class: "btn btn-primary btn-lg btn xlarge" %>
</div>
